<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/materialize.min.css">
    <title><%= title %></title>
</head>
<body>
    <main class="container center-align" style="padding-top: 4rem;">
        <div class="card-panel white">
            <i class="material-icons large red-text">warning</i>
            <h1>Error</h1>
            <h4 class="light"><%= message %></h4>
            <a href="/" class="btn waves-effect waves-light teal" style="margin-top: 20px;">
                <i class="material-icons left">home</i>
                Ir a la Página Principal
            </a>
        </div>
    </main>
</body>
</html>